<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.bwatchdevice"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="22" />

    <uses-feature android:name="android.hardware.type.watch" />

    <uses-permission android:name="android.permission.BODY_SENSORS" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.DOWNLOAD_WITHOUT_NOTIFICATION" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.BLUETOOTH" /> 
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
 
    <application
        android:allowBackup="true"
        android:icon="@drawable/icon"
        android:label="@string/app_name"
        android:theme="@android:style/Theme.Holo.Light.NoActionBar" >
        <activity
            android:name="com.bkav.ui.main.MainActivity"
            android:label="@string/app_name"
            android:screenOrientation="landscape"
            android:theme="@android:style/Theme.Holo.Light.NoActionBar" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.bkav.ui.watchactivity.WatchActivity"
            android:label="@string/app_name"
            android:screenOrientation="landscape" >
        </activity>
        <activity
            android:name="com.bkav.ui.alarm.AlarmSetting"
            android:label="@string/app_name"
            android:screenOrientation="landscape" >
        </activity>
        <activity
            android:name="com.bkav.ui.alarm.AlarmNotifyActivity"
            android:label="@string/app_name"
            android:screenOrientation="landscape" >
        </activity>
        <activity
            android:name="com.bkav.ui.about.AboutActivity"
            android:label="@string/app_name"
            android:screenOrientation="landscape" >
        </activity>
        <activity
            android:name="com.bkav.ui.call.CallDialog"
            android:label="@string/call_dialog"
            android:theme="@android:style/Theme.Holo.Light.Dialog.NoActionBar" >
        </activity>
        <activity
            android:name="com.bkav.ui.sms.SmsDialog"
            android:label="@string/sms_dialog"
            android:theme="@android:style/Theme.Holo.Light.Dialog.NoActionBar" >
        </activity>
        <activity
            android:name="com.bkav.ui.notification.NotifyDialog"
            android:label="@string/sms_dialog"
            android:theme="@android:style/Theme.Holo.Light.Dialog.NoActionBar" >
        </activity>
        <activity
            android:name="com.bkav.ui.setting.TimeoutSettingDialog"
            android:launchMode="singleInstance"
            android:screenOrientation="landscape"
            android:theme="@android:style/Theme.Holo.Light.Dialog.NoActionBar" >
        </activity>
        <activity
            android:name="com.bkav.ui.sms.QuickSmsChoiceDialog"
            android:launchMode="singleInstance"
            android:screenOrientation="landscape"
            android:theme="@android:style/Theme.Holo.Light.Dialog.NoActionBar" >
        </activity>
        <activity
            android:name="com.bkav.ui.call.ContactDialog"
            android:launchMode="singleInstance"
            android:screenOrientation="landscape"
            android:theme="@android:style/Theme.Holo.Light.Dialog.NoActionBar" >
        </activity>
        <activity
            android:name="com.bkav.ui.pedometer.MotionSetting"
            android:screenOrientation="landscape"
            android:label="@string/app_name"
             >
        </activity>
        <activity
            android:name="com.bkav.ui.language.LanguageSettingDialog"
            android:launchMode="singleInstance"
            android:screenOrientation="landscape"
            android:theme="@android:style/Theme.Holo.Light.Dialog.NoActionBar" >
        </activity>
        <activity
            android:name="com.bkav.ui.timer.PickerTimerActivity"
            android:theme="@android:style/Theme.Holo.Dialog.NoActionBar" >
        </activity>
        <activity
            android:name="com.bkav.ui.alarm.AlarmRepeatDateActivity"
            android:theme="@android:style/Theme.Holo.Dialog.NoActionBar" >
        </activity>
        <activity
            android:name="com.bkav.ui.alarm.AlarmSetTimeActivity"
            android:theme="@android:style/Theme.Holo.Dialog.NoActionBar" >
        </activity>
        <activity
            android:name="com.bkav.ui.setting.NumberPickerDialog"
            android:label="Number Picker"
            android:screenOrientation="landscape"
            android:theme="@android:style/Theme.DeviceDefault.Light.Dialog.NoActionBar" >
        </activity>
        <activity
            android:name="com.bkav.ui.pedometer.MotionDialog"
            android:label="Motion Dialog"
            android:screenOrientation="landscape"
            android:theme="@android:style/Theme.DeviceDefault.Light.Dialog.NoActionBar" >
        </activity>
    </application>

</manifest>